{% extends "template.twig" %}

{% block content %}
    <h1>Accueil - Bienvenue !</h1>
    <div class="menu medaillon_parent">
        <img class="medaillon" src="/img/raphdine.png" />
        <a class="b b1" href="/diaporama">
            <div class="bubble">Diaporama</div>
        </a>
        <a class="b b2" href="telecharger">
            <div class="bubble">Télécharger les photos</div>
        </a>
        <a class="b b3" href="/deposer">
            <div class="bubble">Déposer vos photos</div>
        </a>
    </div>
{% endblock %}