{% extends "template.twig" %}

{% block content %}
    <article>
        <form method="POST">
            <input type="password" name="password"/>
            <input type="submit">
        </form>
    </article>
{% endblock %}