{% extends "template.twig" %}

{% block content %}
    <h1>Identification</h1>
    <form id="login" class="medaillon_parent" method="POST">
        <img class="medaillon" src="/img/login.png" />
        <div class="b b2">
            <div class="bubble">
                Pour accéder aux photographies vous devez montrer patte blanche !
            </div>
        </div>
        <div class="b b3">
            <div class="bubble" title="Si jamais vous ne vous en rappelez pas, il s'agit d'une date en rapport avec l'évenement représenté sur les photos !">
                <em>Le mot de passe est sur le livret de messe que vous n'avez pas manqué de conserver.</em>
            </div>
        </div>
        <div class="b b1">
            <div class="bubble">
                <input type="password" name="password" placeholder="Entrez ici le mot de passe..." required/>
                <button class="myButton">OK</button>
            </div>
        </div>
    </form>
{% endblock %}