{% extends "template.twig" %}

{% block content %}
    <h1>Télécharger</h1>
    <em>Cliquez sur l'album que vous souhaitez télécharger</em>
    <section id="tuile">
        {% for item in f.folders %}
            <a class="album" href="/img/zip/{{item.nom}}.zip">
                <em>(Album)</em>
                {{item.nom}}
            </a>
        {% endfor %}
    </section>
{% endblock %}

{% block js %}
{% endblock %}