<!DOCTYPE html>
<html>
    <head>
        <title>Raphdine - Le mariage de l'année !</title>
        <link href="/css/main.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <section>
            {% include 'header.twig' %}
            <article>
                {% block content %}
                {% endblock %}
            </article>
        </section>
    </body>

</html>