{% extends "template.twig" %}

{% block content %}
    <h1>Vous ne vous rappelez plus du mot de passe ?</h1>
    <p>Vous vous êtes trompé 3 fois dans le mot de passe, nous vous invitons à retenter votre chance d'ici 15 minutes !</p>
{% endblock %}