/* 
    Created on : 7 nov. 2014, 20:56:12
    Author     : Raphiki
*/

@font-face {
    font-family: "Courrier Prime";
    src: url('/css/font/Courier_Prime.ttf');
}
@font-face {
    font-family: "Courrier Prime";
    font-style: italic;
    src: url('/css/font/Courier_Prime_Italic.ttf');
}
@font-face {
    font-family: "Courrier Prime";
    font-weight: bold;
    src: url('/css/font/Courier_Prime_Bold.ttf');
}
@font-face {
    font-family: "Courrier Prime";
    font-style: italic;
    font-weight: bold;
    src: url('/css/font/Courier_Prime_Bold_Italic.ttf');
}

body {
    font-family: "Courrier Prime", Helvetica, Arial, sans-serif;
    background-color: cornsilk;
}

a{
    text-decoration: none;
    font-weight: bold;
}

em {
    font-size: 0.8em;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 1em;
}

.NFI-button, button, .fileinput-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:2px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.NFI-button:hover, button:hover, .fileinput-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}

.NFI-button:active, button:active, .fileinput-button:active {
    position:relative;
    top:1px;
}

.NFI-button:disabled, button:disabled, .fileinput-button:disabled {
    cursor: not-allowed;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6E6E6E), color-stop(1, #ADADAD));
    background:-moz-linear-gradient(top, #6E6E6E 5%, #ADADAD 100%);
    background:-webkit-linear-gradient(top, #6E6E6E 5%, #ADADAD 100%);
    background:-o-linear-gradient(top, #6E6E6E 5%, #ADADAD 100%);
    background:-ms-linear-gradient(top, #6E6E6E 5%, #ADADAD 100%);
    background:linear-gradient(to bottom, #6E6E6E 5%, #ADADAD 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E6E6E', endColorstr='#ADADAD',GradientType=0);
    background-color:#6E6E6E;
    border:none;    
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

body > section {
    max-width: 900px;
    margin:auto;
    /*box-shadow: 1px 1px 1px red ;*/

}

.medaillon_parent {
    margin-top: 30px;
    padding-top: 100px;
    position: relative;
    text-align: center;
}

.medaillon {
    position: absolute;
    left: 290px;
    width:300px;
}

.b {
    position: absolute;
}

/****** FIRST CREATE THE BUBBLE *****/
.bubble {
    position:relative; /*see the support section below for more info*/
    width:auto; /*size of the bubble*/
    padding:20px 40px;
    margin:10px 10px 80px 40px;
    /**give the corners a large curve**/
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    border-radius:180px;
    /**add a drop shadow to the bubble**/
    -webkit-box-shadow: -3px 4px 8px #989898;
    -moz-box-shadow: -3px 4px 8px #989898;
    box-shadow: -3px 4px 8px #989898;
    /**style the text**/
    color:#575544;
    font-size:1em;
    letter-spacing:.06em;
}

a .bubble {
    cursor: pointer;
}
/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
.bubble:before {
    content:"";
    position:absolute; /*see the support section below for more info*/
    width:30px; /*same as the height*/
    height:30px; /*same as the width*/
    /*add a curve to the corners the same size as the height and width*/
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    /*add a drop shadow*/
    -webkit-box-shadow: -3px 3px 4px #989898;
    -moz-box-shadow: -3px 3px 4px #989898;
    box-shadow: -3px 3px 8px #989898;
}
/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
.bubble:after {
    content:"";
    position:absolute;
    width:15px;
    height:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    -webkit-box-shadow: -3px 3px 4px #989898;
    -moz-box-shadow: -3px 3px 4px #989898;
    box-shadow: -3px 3px 8px #989898;
}

.b1 {
    top: 100px;
    left: 500px;
}

.b2 {
    top: 3px;
    left: 130px;
}

.b3 {
    left: 3px;
}

.b1 .bubble {
    /**give the bubble's background a gradient**/
    background:#FF554C; /*fallback colour for non-supporting browsers*/
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FF726B), to(#E92F25));
    background:-moz-linear-gradient(#FF726B, #E92F25);
    background:-o-linear-gradient(#FF726B, #E92F25);
    background:linear-gradient(#FF726B, #E92F25);
}

.b1 .bubble:before {
    background:#FF554C;
    bottom:-40px; /*distance from the bottom of the bubble*/
    left:20px; /*distance from the left edge of the bubble*/
    background:#E92F25;
}

.b1 .bubble:after {
    background:#FF554C;
    bottom:-55px;
    left:0;
    background:#E92F25;
}

.b2 .bubble {
    /**give the bubble's background a gradient**/
    background:#B2ED47; /*fallback colour for non-supporting browsers*/
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#C0F365), to(#97D822));
    background:-moz-linear-gradient(#C0F365, #97D822);
    background:-o-linear-gradient(#C0F365, #97D822);
    background:linear-gradient(#C0F365, #97D822);
}

.b2 .bubble:before {
    background:#B2ED47;
    bottom: -44px;
    right: 40px;
}

.b2 .bubble:after {
    background:#B2ED47;
    bottom: -74px;
    right: 40px;;
}

.b3 .bubble {
    /**give the bubble's background a gradient**/
    background:#D9A700; /*fallback colour for non-supporting browsers*/
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFC500), to(#D99E00));
    background:-moz-linear-gradient(#FFC500, #D99E00);
    background:-o-linear-gradient(#FFC500, #D99E00);
    background:linear-gradient(#FFC500, #D99E00);
}

.b3 .bubble:before {
    background:#FFC500;
    bottom:0px;
    right:-40px; /*distance from the left edge of the bubble*/
}

.b3 .bubble:after {
    background:#FFC500;
    bottom: -1px;
    right: -65px;
}

/* LOGIN FORM */

#login .b1 {
    top: 100px;
    left: 500px;
}

#login .b2 {
    top:3px;
    left: 130px;
    width: 400px;
}

#login .b3 {
    left: -60px;
    width: 350px;
    top: 130px;
}

#login .b3 .bubble:before {
    right: -45px;
    bottom: 30px
}

#login .b3 .bubble:after {
    bottom: inherit;
    right: -75px;
}




/* HOME */

.menu a {
    cursor: default;
}

/* DEPOSER */

#folder:-webkit-input-placeholder {
    color: #FF554C;
}

#folder:-moz-placeholder {
    color: #FF554C;
}

#liste {
    display: none;
    padding-left: 10px;
}

#liste ul li em {
    color: #FF554C;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#progress em {
    margin-left: 10px;
}

/* DIAPORAMA */

#tuile a {
    color: #575544;  
}

#tuile a {
    margin-right: 7px;
    margin-bottom: 7px;
    text-align: center;
    border: 1px solid black;
    float: left;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

#tuile a.all, #tuile a.album {
    width: 124px;
    height: 70px;
    padding: 3px 3px;
    padding-top: 13px;
}

#tuile a.album {
    background-color: #79bbff;
    position: relative;
}

#tuile a.album em{
    position: absolute;
    top: 1px;
    left: 1px;
    font-weight: normal;
    size: 0.5em;
}

#tuile a.all {
    background-color: #FF726B;
}

#tuile a.image {
    width: 130px;
    height: 86px
}

#tuile  a > div {
    width: 100%;
    height: 100%;
}

#tuile a > img {
    max-height: 100%;
    max-width: 100%;
}

#slide {
    display:none;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}